<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌列表案例</title>
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" href="../css/bootstrap-3.3.7.css">
</head>
<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>ID:<input type="text" class="form-control" v-model="id"></label>
                <label>Name:<input type="text" class="form-control" v-model="name" @keyup.enter="add"></label>
                <input type="button" value="添加" class="btn btn-primary" @click="add"/>
                <label>搜索名称关键字：<input type="text" class="form-control" v-model="keywords" v-focus v-color="'red'"/> </label>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Ctime</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in search2(keywords)" :key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ctime | dateFormat('yyyy-mm-dd')}}</td>
                <td><a href="" @click.prevent="del2(item.id)">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="app2">
        <label v-fontweight="'initial'" v-fontsize="'30px'">这是一行文字</label>
    </div>
    <script>
        // 全局-过滤器-时间格式化
        // pattern="" 默认赋值为""
        Vue.filter('dateFormat', function (dateStr, pattern="") {
            var dt = new Date(dateStr);
            var y = dt.getFullYear();
            var m = dt.getMonth();
            var d = dt.getDate();
            if (pattern.toLowerCase() == "yyyy-mm-dd") {
                return `${y}-${m}-${d}`;// esc 下面那个键
            } else {
                var h = dt.getHours();
                var min = dt.getMinutes().toString().padStart(2,0);
                var s = dt.getSeconds();
                return `${y}-${m}-${d} ${h}:${min}:${s}`;
            }
        });
        Vue.directive('focus',{
            // 第一个参数 el：表示被绑定了指令的那个元素，是一个原生 js 对象
            bind:function (el) {

            },
            inserted:function (el) {
                el.focus();
            },
            update:function () {

            }
        });
        Vue.directive('color', {
            bind: function (el,binding) {
                // 内联样式
                // el.style.color = 'red';// 不应该写死，参数应该从页面传来
                el.style.color = binding.value;
            }
        });
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keywords: '',
                list: [
                    {id: 1, name: '奔驰', ctime: new Date()},
                    {id: 2, name: '宝马', ctime: new Date()},
                    {id: 3, name: '现代', ctime: new Date()}
                ]
            },
            methods: {
                add() {
                    this.list.push({id: this.id, name: this.name, ctime: new Date()});
                    this.id = this.name = '';
                },
                // 删除方式一
                del(id) {
                    // some() 用于循环数组
                    this.list.some((item, i) => {
                        if (item.id == id) {
                            // 调用数组的 splice() 方法删除元素
                            this.list.splice(i, 1);
                            return true;//返回 true，终止这个数组的后续循环
                        }
                    });
                },
                // 删除方式二
                del2(id) {
                    var index = this.list.findIndex(item => {
                        if (item.id == id) {
                            return true;
                        }
                    });
                    this.list.splice(index, 1);
                },
                search(keywords) {
                    var newList = [];
                    this.list.forEach(item => {
                        if (item.name.indexOf(keywords) != -1) {
                            newList.push(item);
                        }
                    });
                    return newList;
                    // 为什么 keywords='' 时，返回的是完整的 list ？
                    // 看示例："abc".indexOf('') = 0
                    // 因为 不等于 -1，所有都加入新的数组中
                },
                search2(keywords) {
                    // 注意：forEach some filter findIndex 这些都属于数组的新方法
                    // 都会对数组的每一项进行遍历，执行相关操作
                    // filter() 是 es6 提供的方法
                    var newList = this.list.filter(item => {
                        if (item.name.includes(keywords)) {
                            return 1;// 随便返回一个值，即：有返回值即可
                            // return true;
                        }
                    });
                    return newList;
                }
            }
        });
        var vm2 = new Vue({
           el:'#app2',
           data: {},
           methods:{},
           filters:{
               dateFormat:function (dateStr,pattern="") {
                   dateStr.padStart()
               }
           },
            directives:{
               'fontweight':{
                   bind: function (el, binding) {
                       el.style.fontWeight = binding.value;
                   }
               },
                // 指令简写，只应用在 bind/update 阶段
                'fontsize':function (el,binding) {
                   console.log(binding.value)
                    el.style.fontSize = parseInt(binding.value) + 'px';
                }
            }
        });
    </script>
</body>
</html>